.case_studies {
  padding-top: 2em;
  .card {
    p {
      padding-bottom: 1em;
    }
  }
  .card-title {
    color: #FFFFFF;
  }
  .card-content {
    .card-subheader {
      height: 4em;
    }
    .material-placeholder {
      height: 20em;
      margin: auto;
    }
  }
  .cornerstone-card {
    background-color: #28324E;
  }
  .engineersandinspectors-card {
    background-color: #FFFFFF;
    color: #3D6B99;
    .card-title {
      color: rgba(0, 0, 0, 0.87);
    }
  }
  .savvyshots-card {
    background-color: #474973;
  }
  .back-button {
    background-color: $logocolor;
  }
}
