.case_studies {
  padding-top: 2em;
  .card {
    p {
      padding-bottom: 1em;
    }
  }
  .cornerstone-card {
    background-color: #28324E;
  }
  .engineersandinspectors-card {
    background-color: #FFFFFF;
    color: #3D6B99;
  }
  .savvyshots-card {
    background-color: #474973;
  }
}

