$savadoro: #5E8EB4;

.savadoro {
  .savadoro-title {
    font-family: 'Philosopher', sans-serif;
    color: $savadoro;
  }
  .release-announcement {
    margin-top: 2em;
  }
  .release-list {
    padding-top: 2em;
    font-weight: bold;
  }
}
