<% wrap_layout :layout do %>
  <div class="container main-colors">
    <div class="row right-align">
      <a href="/feed.xml", target="_blank"><i class="mdi mdi-rss mdi-24px"></i>&nbsp;RSS</a>
    </div>
    <div class='row blog'>
      <div class='col s12'>
        <h5 class="return_link"><a href="/blog_archive.html"><< Blog Archive</a></h5>
        <header>
          <h4 class="blog_title"><%= current_article.title %></h4>
          <p class="blog_desc">
            <span><%= current_article.data.author %></span><br>
            <time><%= current_article.date.strftime('%b %e %Y') %></time>
          </p>
        </header>
        <article>
          <%= yield %>
        </article>
      </div>
    </div>
  </div>
<% end %>
