<div class="container case_studies">
  <h4>Synthetic Email Client - Ready Day One Application</h4>
  <p>
    The Ready Day One software was written by SavvySoftWorks, LLC in conjunction with Cornerstone Managemnet Resource Systems to help move their management training program into the digital age. A portion of their evaluation for management candidates is a synthetic email experience to gage fitness for the day to day activities they would be undertaking in their new role. Previously, much of this was performed with pen and paper or mocked with cumbersome flash-drives and word-processing products followed by printouts of all responses.
  </p>
  <div class="videoWrapper">
    <iframe width="1280" height="720" style="margin:auto; padding:2em; padding-right:4em; padding-left:4em;" src="https://www.youtube.com/embed/DpwW6zHx2Ro?autoplay=1&controls=0&rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <p>
    We built a highly informative, mock email client which bears similarities to existing web based email clients to ease users into responding to emails without prior training. Evaluations after responses were collected no longer needed to be printed and responses could be distributed digitally between evaluators and managers after they were completed. The biggest gains were made to the statistical and efficacy efforts of Cornerstone, not only do we collect the applicants responses we also collect timing information about how emails were interacted with. For example we can identify if a candidate read all emails before beginning with their first response. Or, if they did a final revision on emails before sending them. No longer was evaluation merely about correctly answering the questions but we added a layer of behavioral statistics which would eventually lead to an additional metric of confidence in a participants fitness for their new role.
  </p>
  <%= partial "case_study_footer" %>
</div>
