<div class="container case_studies">
  <h4>Engineers and Inspectors</h4>
  <p>
    Sam Sain came to us looking to move his existing website to a new hosting company and fix a few existing bugs. Overtime the project expanded into a full remodel. The budget for this project was very small so we opted to spend out efforts improving the information architecture of the site. Making it easier to navigate as well as easier for search engines to index. Our goals were to improve the impact of his content as much as possible without incurring too much cost with a lengthy visual redesign.
  </p>
  <div class="row">
    <div class="col s12">
      <img src="/images/case_studies/eanda.png" alt="Engineers and Inspectors" class="responsive-img"/>
    </div>
  </div>
  <p>
    Visually, we migrated the existing site to a modern responsive version, adjusting text size, fonts, and spacing so it was easier to read and consumable on mobile devices. The site contained a "Home owners Encyclopedia" with a vast amount of information and a complicated menu structure/navigation. We simplified the menu to give greater access to the keys areas of the site quicker. As well as brought his name and contact information to the forefront.
  </p>
  <%= partial "case_study_footer" %>
</div>
