<div class="container">
  <h4>Engineers and Inspectors</h4>
  <p>
    Sam Sain came to us looking to move his existing website to a new hosting company and fix a few existing bugs. Overtime the project expanded into a full remodel.
  </p>
  <img src="/images/case_studies/eanda.png" alt="Engineers and Inspectors" class="responsive-img" style="max-width:1024px;">
  <p>
    Our remodel included theh standard responsive and mobile upgrades as well, bringing the text size up to make it easier for y=his users to take in the vast amount of information on his site. We simplified the menu to give greater access to the keys areas of the site quicker. As well as brought his name and contact information to the forefront.
  </p>
  <div>
    <a href="/case_studies.html">Back to Case Studies</a>
  </div>
</div>
