<div class="container">
  <h4>Library - Ready Day One Application</h4>
  <p>
    The Ready Day One software was written by SavvySoftWorks, LLC in conjunction with Cornerstone Managemnet Resource Systems to help move their management training program into the digital age. Being that this program was entirely pen and paper previously there was a lot of documentation that was intended for participants to read during and after the program ran. Hence a library was needed as a central location for documentation and any uploads a client might require.
  </p>
  <img src="/images/case_studies/Library.png" alt="Cornerstone Library" class="responsive-img" style="max-width:1024px;">
  <p>
    The library is responsive, mobile friendly, and easy to use and navigate. The image slider at the top allows for client specific inspirational sayings, while the books animate downward and highlight upon hover as if you were really laying down a book to read.
  </p>
  <div>
    <a href="/case_studies.html">Back to Case Studies</a>
  </div>
</div>
