<div class="container case_studies">
  <h4>Library - Ready Day One Application</h4>
  <p>
    The Ready Day One software was written by SavvySoftWorks, LLC in conjunction with Cornerstone Managemnet Resource Systems to help move their management training program into the digital age. Being that this program was entirely pen and paper previously there was a lot of documentation that was intended for participants to read during and after an evaluation. After researching possible interactions we decided to develope an interface that would convey how users were to interact with these documents in an attractive manner while keeping them proprietary.
  </p>
  <p>
    A significant amount of effort goes into crafting this materials for each of Cornerstone's clients and they represent the primary source of income for their business. The essential requirements here were for the content to be convenient while avoiding alienating users who would naturally prefer printed documents and maintaining protection of IP both as a legal responsibility for their clients but to protect their ability to continue to renew their contracts with said clients.
  </p>
  <img src="/images/case_studies/Library.png" alt="Cornerstone Library" class="responsive-img" style="max-width:1024px;">
  <p>
    The library is responsive, mobile friendly, and easy to use and navigate. The image slider at the top allows for client specific inspirational sayings, while the books animate downward and highlight upon hover as if you were really laying down a book to read.
  </p>
  <%= partial "case_study_footer" %>
</div>
