<div class="container case_studies">
  <h4>Client User Page, Training Director View - Ready Day One Application</h4>
  <p>
    The Ready Day One software was written by SavvySoftWorks, LLC in conjunction with Cornerstone Managemnet Resource Systems to help move their management training program into the digital age. While the software is still fairly young it is fully functioning and their are several pieces we are already very proud of.
  </p>
  <h5>User Page</h5>
  <p>
    When we first launched the software the User Page was a low priority item and launched with a very basic view.
  </p>
  <div class="row">
    <div class="col s8 offset-s2">
      <img src="/images/case_studies/user_before.png" alt="cornerstone user view before" class="responsive-img"/>
    </div>
  </div>
  <p>
    As Cornerstone's user grew used to the program and the new format, the user page became a higher priority and we relaunched the new user page.
  </p>
  <div class="row">
    <div class="col s12">
      <img src="/images/case_studies/user_after.png" alt="cornerstone user view before" class="responsive-img"/>
    </div>
  </div>
  <p>
    The new page is user friendly from a usability standpoint, as well as providing important details upfront and in an easy to digest manner. The area chart shows the user's progress through the three event types. A progress bar to track their development items. As well as an activity monitor and quick reference as to who the user's supervisors are.
  </p>
  <%= partial "case_study_footer" %>
</div>
