<div class="container case_studies">
  <h4>Portfolio Management, Enhanced Social Media, Direct Sales - Savvy Shots Photography</h4>
  <p>
    Photography is a highly competitive business while there are many variations on available services offered by photographers the public as a whole is not well educated to their needs. Due to this we began by evaluating the specific industry needs of photographers via competitive analysis to see what were norms for those who appeared to be successful in the field.
  </p>
  <p>
    We discovered there were two primary needs:
    - Visibility (SEO/Social Media)
    - Direct and highly visual navigation
  </p>

  <p>
    To approach the visibility issue we deeply integrated with their proofing service allowing Savvy Shots to utilize a single source for image assets associated with their site. This allows them to change the content of their galleries without re-uploading files in more that one service and create custom curated private galleries for closing new clients on the fly from their phone. The side effect of these changes make updating high quality image assets on their domain trivial which lead to more rapid indexing by search engines. This added freshness provided a boost in search ranking. Finally, including sharing tools which make sharing directly from the site over popular social media platforms further enhance search ranking through repeated content being shared on their respective platforms.
  </p>

  <p>
    Many photographers we researched focused on wedding photography while providing other services a la carte. Our approach makes those additional preferred services first class citizens within Savvy Shots website. Their landing page is both a place to showcase images which changes as new images are added to galleries dynamically and as navigation to direct prospective clients down three initial channels before helping them self-qualify for what they are shopping for. We see a marked improvement for bounce rate with this process and it makes it easier to define re-marketing audiences for future marketing campaigns.
  </p>
  <%= partial "case_study_footer" %>
</div>
