<div class="blog inverted-colors">
  <div class="container" id="blog">
    <h4 class="section-title">Savvy Blog Latest Post</h4>
    <p>
      <a href="/blog_archive.html">
          View the Savvy Blog Archives
           <i class="material-icons tiny">link</i>
      </a>
    </p>
    <div class="row">
      <% blog.articles[0...1].each do |article| %>
        <article class="col s12" style="padding-right: 2em;">
          <h4>
            <%= article.title %>
          </h4>
          <time><%= article.date.strftime('%b %e %Y') %></time>

          <%= article.summary(500, '...') %>

          <a href="<%= article.url %>">Read more</a>
        </article>
      <% end %>
    </div>
  </div>
</div>
