<div class="current_clients">
  <div class="container" id="current_clients">
    <h4 class="section-title" style="color: #FFFFFF;">Current Clients</h4>
    <h5>
      <a href="/clients.html">
        <i class="material-icons">fast_forward</i>
          Click here to see our full client list
        <i class="material-icons">fast_rewind</i>
      </a>
    </h5>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><i class="material-icons">play_arrow</i>
          OpenArc
        </div>
        <div class="collapsible-body">
          <h5 class="h5-pad">
            <a href="" target="_blank">OpenArc
            <i class="material-icons">link</i></a>
          </h5>
          <h6>Senior Developer</h6>
          <p><em>November 2016</em></p>
          <p>
            
          </p>
          <br>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">play_arrow</i>
          Cornerstone Management Resource Systems
        </div>
        <div class="collapsible-body">
          <h5 class="h5-pad">
            <a href="https://leadwithcornerstone.com/" target="_blank">Cornerstone Management Resource Systems
            <i class="material-icons">link</i></a>
          </h5>
          <h6>Ready Day One Software</h6>
          <p><em>September 2015</em></p>
          <p>
            Cornerstone Management Resource Systems has brought true science to the process of management selection and manager in training development for Fortune 500 pharmaceutical companies. ReadyDayOne is a platform of tools and analytics that helps companies closely track their employees progress and build a predictive model for their success in future promotions.
          </p>
          <br>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">play_arrow</i>
          CemSites
        </div>
        <div class="collapsible-body">
          <h5 class="h5-pad">
            <a href="http://cemsites.com/" target="_blank">CemSites
            <i class="material-icons">link</i></a>
          </h5>
          <h6>Senior Developer and Technical Lead</h6>
          <p><em>June 2016</em></p>
          <p>
            A complete solution for cemetery management from gravesite to accounting.
          </p>
          <br>
        </div>
      </li>
    </ul>
  </div>
</div>
