<div class="current_clients main-colors">
  <div class="container" id="current_clients">
    <h4 class="section-title">Current Clients</h4>
    <p class="see-more">
      <a href="/clients.html">
        View our full client list
        <i class="material-icons tiny">link</i>
      </a>
    </p>

    <div class="row">
      <div class="col s12 m4">
        <div class="client_name">
          <h5 class="center" style="line-height:2em;">
            <a href="http://lovebettie.com" target="_blank">Willow Hill Music
            <i class="material-icons">link</i></a>
          </h5>
        </div>
        <div class="client_desc faded-text">
          <p class="center">Willow Hill and LoveBettie Websites</p>
          <p class="center"><em>March 2017</em></p>
        </div>
        <p>
          We rescued the LoveBettie site from the depths of a hacked state that had been blocked by Google as "unsafe." Still a work in progress, our first steps were to rescue the site and install a new landing page and calendar. Our second task was to begin the launch of a separate website for their new band, WillowHill.
        </p>
      </div>

      <div class="col s12 m4">
        <div class="client_name">
          <h5 class="center">
            <a href="https://leadwithcornerstone.com/" target="_blank">
              Cornerstone MRS
              <i class="material-icons">link</i>
            </a>
          </h5>
        </div>
        <div class="client_desc faded-text">
          <p class="center">Ready Day One Software</p>
          <p class="center"><em>September 2015</em></p>
        </div>
        <p>
          Cornerstone Management Resource Systems has brought true science to the process of management selection and manager in training development for Fortune 500 pharmaceutical companies. ReadyDayOne is a platform of tools and analytics that helps companies closely track their employees progress and build a predictive model for their success in future promotions.
        </p>
      </div>

      <div class="col s12 m4">
        <div class="client_name">
          <h5 class="center" style="line-height:2em;">
            <a href="https://www.openarc.net/" target="_blank">
              OpenArc / 4moms
              <i class="material-icons">link</i>
            </a>
          </h5>
        </div>
        <div class="client_desc center">
          <p>Senior Developer and Technical Lead</p>
          <p><em>November 2016</em></p>
        </div>
        <p>
        </p>
      </div>
    </div>
  </div>
</div>
