<div class="current_clients">
  <div class="container" id="current_clients">
    <div class="row">
      <div class="col s12 m6" style="text-align:left">
        <h4 class="section-title">Current Clients</h4>
      </div>
      <div class="col s12 m6" style="text-align:right">
        <h4>
          <a href="/clients.html">
            View our full client list
            <i class="material-icons">fast_forward</i>
          </a>
        </h4>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m4">
        <div class="client_name">
          <h5 class="center" style="line-height:2em;">
            <a href="http://lovebettie.com" target="_blank">Lovebettie
            <i class="material-icons">link</i></a>
          </h5>
        </div>
        <div class="client_desc">
          <p class="center">LoveBettie and WillowHill Websites</p>
          <p class="center"><em>March 2017</em></p>
        </div>
        <p style="text-align:justify">
          We rescued their site from the depths of a hacked state that had been blocked by Google as unsafe. Still a work in progress, our first steps were to rescue the site and install a new landing page and calendar.
        </p>
      </div>

      <div class="col s12 m4">
        <div class="client_name">
          <h5 class="center">
            <a href="https://leadwithcornerstone.com/" target="_blank">
              Cornerstone Management Resource Systems
              <i class="material-icons">link</i>
            </a>
          </h5>
        </div>
        <div class="client_desc">
          <p class="center">Ready Day One Software</p>
          <p class="center"><em>September 2015</em></p>
        </div>
        <p style="text-align:justify">
          Cornerstone Management Resource Systems has brought true science to the process of management selection and manager in training development for Fortune 500 pharmaceutical companies. ReadyDayOne is a platform of tools and analytics that helps companies closely track their employees progress and build a predictive model for their success in future promotions.
        </p>    
      </div>

      <div class="col s12 m4">
        <div class="client_name">
          <h5 class="center" style="line-height:2em;">
            <a href="https://www.openarc.net/" target="_blank">
              Open Arc
              <i class="material-icons">link</i>
            </a>
          </h5>
        </div>
        <div class="client_desc">
           <p class="center">Senior Developer</p>
          <p class="center"><em>November 2016</em></p>
        </div>
      </div>

    </div>
  </div>
</div>
