<footer class="flash">
  <div class="row col s12">
    <a href="/index.html">
      <img class="responsive-img" src="images/SavvySoftWorks_Logo.png" alt="SavvySoftWorks, LLC">
    </a>
    <p>&copy; 2016</p>
  </div>
</footer>