<footer class="flash">
  <div class="row col s12">
    <a href="/index.html">
      <img src="/images/SavvySoftWorks_Logo_042617.svg" alt="SavvySoftWorks" class="responsive-img">
    </a>
    <p>&copy; 2016</p>
  </div>
</footer>
