<div class="products container main-colors" id="products">
<h4 class="section-title">Products</h4>

  <div class="row">
    <div class="col s12 m6">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">email</i></h2>
        <h4 class="center">
          <a href="https://github.com/SavvySoftWorksLLC/savvy_mailer">SavvyMailer</a>
        </h4>
      </div>
      <p>
        An Open Source contact form micro service for those who don't need a dynamic website. We offer a hosted version of this service for $2 a month which includes unlimited messages. A common reason clients request platforms like Wordpress is to bootstrap their online presence and provide an online contact form for client communication. The truth is for the average small business platforms like Wordpress can be too much tool for the job. What they really need is a beautiful website with some basic features one of which is a client contact form. With SavvyMailer your need for a contact form no longer has to define your web platform.
      </p>
    </div>
    <div class="col s12 m6">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">settings</i></h2>
        <h4 class="center">Coming Soon...</h4>
      </div>
      <p class="center">Your Project, Your Dream.</p>
      <p>We will make your project a reality using the most up to date development practices and technologies. We focus on building the most maintainable, reliable, cost efficient solutions possible. Delivering only the features you need under budget. We will teach your team our techniques and provide documentation, leaving them capable of maintaining your project without further cost from us.</p>
    </div>
  </div>
</div>
