<div class="row icon-row">
  <div class="icon-block">
    <h4 class="center">
      <a href="http://rubyonrails.org/" target="_blank">
          <img src="images/logo_bar/rails-logo.svg" alt="http://rubyonrails.org/" height="64">
      </a>

      <a href="https://facebook.github.io/react/" target="_blank">
          <img src="images/logo_bar/react.svg" alt="https://facebook.github.io/react/" height="64" width="64">
      </a>

      <a href="https://phalconphp.com/en/" target="_blank">
          <img src="images/logo_bar/phalcon.svg" alt="https://phalconphp.com/en/" height="64" width="64">
      </a>

      <a href="https://zephir-lang.com/" target="_blank">
          <img src="images/logo_bar/Zephir_Pyramid.svg" alt="https://zephir-lang.com/" height="64" width="64">
      </a>
      

      <a href="https://laravel.com/" target="_blank">
          <img src="images/logo_bar/laravel.png" alt="https://laravel.com/" height="64">
      </a>

      <a href="https://angularjs.org/" target="_blank">
          <img src="images/logo_bar/angularjs.png" alt="https://angularjs.org/" height="64">
      </a>
    </h4>
  </div>
</div>

<div class="row icon-row">
  <div class="icon-block">
    <h4 class="center">
      <a href="https://www.ruby-lang.org/en/" target="_blank">
          <img src="images/logo_bar/ruby.png" alt="https://www.ruby-lang.org/en/" height="64">
      </a>

      <a href="https://www.javascript.com/" target="_blank">
          <img src="images/logo_bar/javascript.svg" alt="https://www.javascript.com/" height="64">
      </a>

      <a href="https://secure.php.net/" target="_blank">
          <img src="images/logo_bar/php.png" alt="https://secure.php.net/" height="64">
      </a>

      <a href="https://nodejs.org/en/" target="_blank">
          <img src="images/logo_bar/nodejs.png" alt="https://nodejs.org/en/" height="64">
      </a>

      <a href="https://www.python.org/" target="_blank">
          <img src="images/logo_bar/python.png" alt="https://www.python.org/" height="64">
      </a>

      <a href="http://sass-lang.com/" target="_blank">
          <img src="images/logo_bar/sass.png" alt="http://sass-lang.com/" height="64">
      </a>

      <a href="https://www.w3.org/html/" target="_blank">
          <img src="images/logo_bar/html.png" alt="https://www.w3.org/html/" height="64">
      </a>

    </h4>
  </div>
</div>

<div class="row icon-row">
  <div class="icon-block">
    <h4 class="center">
      <a href="https://middlemanapp.com/" target="_blank">
          <img src="images/logo_bar/middleman.png" alt="https://middlemanapp.com/" height="64">
      </a>

      <a href="http://materializecss.com/" target="_blank">
          <img src="images/logo_bar/materialize.png" alt="http://materializecss.com/" height="64">
      </a>

      <a href="https://getbootstrap.com/" target="_blank">
          <img src="images/logo_bar/bootstrap.svg" alt="https://getbootstrap.com/" height="64">
      </a>

      <a href="https://wordpress.com" target="_blank">
          <img src="images/logo_bar/wordpress.svg" alt="https://wordpress.com" height="64">
      </a>

    </h4>
  </div>
</div>
