<div class="open_source container main-colors" id="open_source">
<h4 class="section-title">Open Source Software</h4>
  <div class="row">
  	<div class="col s12 m6">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48"><img src="images/chair-school.png"></i></h2>
        <h4 class="center">
          <a href="https://github.com/SavvySoftWorksLLC/body-snatchers">Brown Noser</a>
        </h4>
      </div>
      <p>
        An open source education tool built in Ruby based upon the <a href="https://theory.stanford.edu/~aiken/moss/">Stanford MOSS platform <i class="material-icons tiny">link</i></a>. The purpose of this tool is to orchestrate multiple student Pull Requests for review/grading and submit the aggregate code to MOSS for academic integrity verification.
      </p>
    </div>

    <div class="col s12 m6">
      <div class="icon-block">
        <h2 class="center">
          <i class="material-icons md-48"><img src="images/body_snatchers_icon_48.png"></i>
        </h2>
        <h4 class="center">
          <a href="https://github.com/SavvySoftWorksLLC/body-snatchers">Body Snatchers</a>
        </h4>
      </div>
      <p>
        An open source tool built with ReactJS that captures your form elements to encapsulate them and allow for easier form submission.
      </p>
    </div>
  </div>
</div>
