<div class="products container main-colors" id="products">
  <h4 class="section-title">Products & Services</h4>
  <p class="see-more">
    <a href="services.html">View all products and services
      <i class="material-icons tiny">link</i>
    </a>
  </p>

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">group</i></h2>
        <h4 class="center">Team Growth</h4>
      </div>
      <p>We develop world class software development teams and software by integrating our engineers in small / medium sized companies. By working alongside your engineers we can increase velocity and productivity while imparting industry best practices into your development process. Primarily we teach how to safely use OpenSource Software, improved code quality through low impact code reviews, and how to build reliable software using TDD.</p>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48"><img src="images/chair-school.png"></i></h2>
        <h4 class="center">
          <a href="https://github.com/SavvySoftWorksLLC/body-snatchers">Brown Noser</a>
        </h4>
      </div>
      <p>
        An open source education tool built in Ruby based upon the <a href="https://theory.stanford.edu/~aiken/moss/">Stanford MOSS platform <i class="material-icons tiny">link</i></a>. The purpose of this tool is to orchestrate multiple student Pull Requests for review/grading and submit the aggregate code to MOSS for academic integrity verification.
      </p>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">settings</i></h2>
        <h4 class="center">Coming Soon...</h4>
      </div>
      <p class="center">Your Project, Your Dream.</p>
      <p>We will make your project a reality using the most up to date development practices and technologies. We focus on building the most maintainable, reliable, cost efficient solutions possible. Delivering only the features you need under budget. We will teach your team our techniques and provide documentation, leaving them capable of maintaining your project without further cost from us.</p>
    </div>
  </div>
</div>
