<div id="savadoro_partial" class="container savadoro">
  <div class="row release-announcement">
    <div class="col s12 m8">
      <div>
          <h5>SavvySoftWorks is proud to announce&#8230;</h5>
          <h5>The beta release of</h5>
          <h3>
            <img src="/images/savadoro/Savadoro.svg" alt="Savadoro" class="responsive-img" style="max-width:320px;" />
          </h3>
        <div>
          <h5>Read about it in our <a href="/blog/products/savadoro-beta-available.html" target="_blank">blog.</a></h5>
          <h5>Visit the <a href="/savadoro.html" class="savadoro-title">Savadoro</a> page, for the release notes.</h5>
        </div>
      </div>
    </div>
    <div class="col s12 m4 hide-on-small-and-down">
      <div class="valign-wrapper">
        <h5 class="center-align">
          <img src="/images/savadoro/Icon.svg" class="responsive-img" style="max-height: 248px;" />
        </h5>
      </div>
    </div>
  </div>
</div>
