<div class="services container main-colors" id="services">
  <h4 class="section-title">Services</h4>

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">phonelink</i></h2>
        <h4 class="center">Digital Marketing</h4>
      </div>
      <p>If necessary, SavvySoftworks can assist and train your team in digital marketing. We use insightful analytics tools alongside social media advertising to increase your online visibility.</p>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">code</i></h2>
        <h4 class="center">Application Development</h4>
      </div>
      <p>Our main focus is on application and website development. Whether it's a full website from scratch or a plugin for WordPress, we'll use your preferences to build the tools that help you help your business thrive online.</p>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">add_a_photo</i></h2>
        <h4 class="center">Content Marketing</h4>
      </div>
      <p>Through our partnership with Savvy Shots Photography we have the ability to provide you with unique, quality images for your website or application. For an additional cost we can capture content such as team photos, blog banners, video, and more.</p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">group_work</i></h2>
        <h4 class="center">Team Growth</h4>
      </div>
      <p>We build world class software development teams and software by integrating our engineers into small and medium sized companies. By working alongside your engineers we can increase velocity and productivity while imparting industry best practices into your development process. </p>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">group</i></h2>
        <h4 class="center">Staff Augmentation</h4>
      </div>
      <p>
        By joining with your team, we can assist you in reaching tight deadlines on your projects or sprints.
      </p>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">school</i></h2>
        <h4 class="center">Technical Education</h4>
      </div>
      <p>If your team needs technical training, we are here to provide it. Primarily we teach teams how to safely use open-source software, improved code quality through low impact code reviews, and how to build reliable software using TDD. We also bring development education to the community through our Meetup group, <a href="/westernpalaravel.html">Western PA Laravel Users</a>.</p>
    </div>
  </div>
</div>
