<div class="services container main-colors" id="services">
  <h4 class="section-title">Services</h4>

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">phonelink</i></h2>
        <h4 class="center">Digital Marketing</h4>
      </div>
      <p>
        If necessary, SavvySoftworks can assist and train your team in digital marketing. We use insightful analytics tools alongside social media advertising to increase your online visibility.
      </p>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">code</i></h2>
        <h4 style="margin-top:-0.5em; margin-bottom:-0.5em;" class="center">Application Development</h4>
      </div>
      <p>
        Our main focus is on application and website development. Whether it's a full website from scratch or a plugin for WordPress, we'll partner with you to build the tools that help you help your business thrive online.
      </p>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">add_a_photo</i></h2>
        <h4 class="center">Content Marketing</h4>
      </div>
      <p>
        Through our partnership with <a href="https://savvyshots.photography">Savvy Shots Photography<i class="material-icons tiny">link</i></a> we can provide you with unique, quality images for your website or application. Our digital marketing team can create content such as team photos, blog banners, video, and more.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">group_work</i></h2>
        <h4 class="center">Team Growth</h4>
      </div>
      <p>
        We don't just develop <strong>software</strong>, we develop <strong>people</strong>. Are you trying to grow your development team or improve their current skills? SavvySoftWorks builds world class software development teams and software by integrating our engineers on-location into your team. By working alongside your engineers we can increase velocity and productivity while imparting industry best practices into your development process.
      </p>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">group</i></h2>
        <h4 class="center">Staff Augmentation</h4>
      </div>
      <p>
        We will partner with your team to reach tight deadlines, help you design your software, and even meet with your stakeholders during your sales cycle. Have you lost a critical team member? We can help bridge the gap in your team so you can take the time you need hiring the right replacement.
      </p>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons md-48">school</i></h2>
        <h4 class="center">Technical Education</h4>
      </div>
      <p>
        If your team needs technical training, we are here to provide it. Primarily we teach teams how to safely use open-source software, improved code quality through low impact code reviews, and how to build reliable software using TDD. We also bring development education to the community through our Meetup group, <a href="/westernpalaravel.html">Western PA Laravel User Group<i class="material-icons tiny">link</i></a>.
      </p>
    </div>
  </div>
</div>
