<div class="team inverted-colors">
  <div class="container" id="team">
    <div class="row">
      <div class="col s12 m6 rightcol">
        <h4 class="center">Samantha Shurie</h4>
        <h5 class="center">Junior Developer</h5>
        <h6 class="center"><a href="mailto:sam@savvysoftworks.com">sam@savvysoftworks.com</a></h6>
        <div class="icon-block">
          <h4 class="center">
            <a href="https://www.linkedin.com/in/samantha-shurie" target="_blank"><img src="images/linkedin.svg" alt="www.linkedin.com/in/samantha-shurie" height="32" width="40"></a>
            <a target="_blank" href="https://twitter.com/missshurie" target="_blank"><img src="images/Twitter_Logo_White_On_Image.svg" alt="www.twitter.com/missshurie" height="32px" width="32px"></a>&nbsp;
            <a href="https://github.com/Arevyn24" target="_blank">
              <img src="images/github-icon-white.svg" alt="GitHub.com/Arevyn24" width="32px" height="32px">
            </a>
          </h4>
        </div>
        <div>
          <p class="light">Samantha is a graduate of Westmoreland County Community College. Her degree in Computer Information Systems enables her to accomplish a broad range of responsibilities for the company. She is design-oriented and eager to evolve her experience to the needs of the client.
          </p>
          <p>Samantha joined SavvySoftWorks fresh out of college and hasn’t looked back. She is constantly moving forward and acquiring new skills to help make the company a strong competitor in a highly skilled market.
          </p>
          <p>
            When she isn’t coding, Samantha can usually be found with a crochet hook in hand, doing work for her small business, Threadnaut.
          </p>

        </div>
      </div>
      <div class="col s12 m6 leftcol">
        <h4 class="center">Savannah Butler</h4>
        <h5 class="center">Owner</h5>
        <h6 class="center"><a href="mailto:savannah@savvyshots.photography">savannah@savvyshots.photography</a></h6>
        <div class="icon-block">
          <h4 class="center">
            <a href="https://www.linkedin.com/in/https://www.linkedin.com/in/savannahbutler" target="_blank"><img src="images/linkedin.svg" alt="www.linkedin.com/in/https://www.linkedin.com/in/savannahbutler" height="32" width="40"></a>
            <a target="_blank" href="https://www.facebook.com/savannah.butler.77"><img src="/images/f.svg" alt="https://www.facebook.com/savannah.butler.77" height="32px"></a>&nbsp;
            <a href="https://twitter.com/6multipliedby7" target="_blank"><img src="images/Twitter_Logo_White_On_Image.svg" alt="twitter.com/6multipliedby7" height="32px" width="32px"></a>&nbsp;
            <a href="https://www.instagram.com/sixmultipliedbyseven/" target="_blank"><img src="images/Instagram_2016.svg" alt="www.instagram.com/sixmultipliedbyseven/" width="32px"></a>&nbsp;
            <a href="https://www.github.com/savvysoftworks" target="_blank">
              <img src="images/github-icon-white.svg" alt="GitHub.com/savvysoftworks" width="32px" height="32px">
            </a>
          </h4>
        </div>
        <div>
          <p class="light">
            Savannah is an owner, entrepreneur, independent consultant and photographer. She is not only the owner of SavvySoftWorks, LLC, but also owner of <a href="http://savvyshots.photography">Savvy Shots Photography <i class="material-icons tiny">link</i></a>.
          </p>
          <p class="light">
            Savannah has built several websites for local businesses as well as hosting a local Rails Girls event. She is active within the Greensburg / Pittsburgh community, donating and dedicating her time and talents to several groups.
            <ul>
              <li><a href="https://www.facebook.com/Humane-Society-of-Westmoreland-County-108439763280/" target="_blank">Humane Society of Westmoreland County
                  <i class="material-icons tiny">link</i>
                </a>
              </li>
              <li><a href="https://www.facebook.com/groups/westmorelandoss/" target="_blank">Westmoreland Open Source Software <i class="material-icons tiny">link</i></a></li>
              <li><a href="https://www.facebook.com/groups/Greensburgboardgaming" target="_blank">Greensburg Board Gaming <i class="material-icons tiny">link</i></a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
