<div class="team inverted-colors">
  <div class="team--container" id="team">
    <div class="row team--row">
      <div class="col s12 m4 leftcol">
        <h4 class="center">Savannah Butler</h4>
        <h5 class="center">Owner</h5>
        <h6 class="center"><a href="mailto:savannah@savvyshots.photography">savannah@savvyshots.photography</a></h6>
        <div class="icon-block">
          <h4 class="center">
            <a href="https://www.linkedin.com/in/https://www.linkedin.com/in/savannahbutler" target="_blank"><img src="images/linkedin.svg" alt="www.linkedin.com/in/https://www.linkedin.com/in/savannahbutler" height="32" width="40"></a>
            <a target="_blank" href="https://www.facebook.com/savannah.butler.77"><img src="/images/f.svg" alt="https://www.facebook.com/savannah.butler.77" height="32px"></a>&nbsp;
            <a href="https://twitter.com/6multipliedby7" target="_blank"><img src="images/Twitter_Logo_White_On_Image.svg" alt="twitter.com/6multipliedby7" height="32px" width="32px"></a>&nbsp;
            <a href="https://www.instagram.com/sixmultipliedbyseven/" target="_blank"><img src="images/Instagram_2016.svg" alt="www.instagram.com/sixmultipliedbyseven/" width="32px"></a>&nbsp;
            <a href="https://www.github.com/savvysoftworks" target="_blank">
              <img src="images/github-icon-white.svg" alt="GitHub.com/savvysoftworks" width="32px" height="32px">
            </a>
          </h4>
        </div>
        <div>
          <p class="light">
            Savannah is an owner, entrepreneur, independent consultant and photographer. She is not only the owner of SavvySoftWorks, LLC, but also owner of <a href="http://savvyshots.photography">Savvy Shots Photography <i class="material-icons tiny">link</i></a>.
          </p>
          <p class="light">
            Savannah has built several websites for local businesses as well as hosting a local Rails Girls event. She is active within the Greensburg / Pittsburgh community, donating and dedicating her time and talents to several groups.
            <ul>
              <li><a href="https://www.facebook.com/Humane-Society-of-Westmoreland-County-108439763280/" target="_blank">Humane Society of Westmoreland County
                  <i class="material-icons tiny">link</i>
                </a>
              </li>
              <li><a href="https://www.facebook.com/groups/westmorelandoss/" target="_blank">Westmoreland Open Source Software <i class="material-icons tiny">link</i></a></li>
              <li><a href="https://www.facebook.com/groups/Greensburgboardgaming" target="_blank">Greensburg Board Gaming <i class="material-icons tiny">link</i></a></li>
            </ul>
          </p>
        </div>
      </div>
<div class="col s12 m4 leftcol">
        <h4 class="center">Paul Scarrone</h4>
        <h5 class="center">CTO / Lead Developer</h5>
        <h6 class="center"><a href="mailto:paul@savvysoftworks.com">paul@savvysoftworks.com</a></h6>
        <div class="icon-block">
          <h4 class="center">
            <a href="https://www.linkedin.com/in/scarronp" target="_blank"><img src="images/linkedin.svg" alt="www.linkedin.com/in/scarronp" height="32" width="40"></a>
            <a target="_blank" href="https://twitter.com/paulscoder" target="_blank"><img src="images/Twitter_Logo_White_On_Image.svg" alt="www.twitter.com/paulscoder" height="32px" width="32px"></a>&nbsp;
            <a href="https://www.github.com/ninjapanzer" target="_blank">
              <img src="images/github-icon-white.svg" alt="GitHub.com/ninjapanzer" width="32px" height="32px">
            </a>
          </h4>
        </div>
        <div>
          <p class="light">
            Primarily, I build websites using a myriad of tools and frameworks. My goal is to use the best tool that saves as much time as possible to keep billing low, but more importantly so I don't have to spend my life in-front of the computer.<br><br>

            I also provide support for companies seeking System Analyst and DevOps skills.<br><br>

            Finally, I spend my time teaching and enlightening companies about the benefits and cost savings of Cloud based and Open Source technologies. Its so easy to not be in the business of computers and fall behind on what is new and cool by a decade. There is always a learning curve but given enough time to heal the chafe of change, companies always come back to thank me for the simplicity I bring.
          </p>      
        </div>
      </div>
      <div class="col s12 m4 rightcol">
        <h4 class="center">Gary A. Newsome</h4>
        <h5 class="center">Developer</h5>
        <h6 class="center"><a href="mailto:gary@savvysoftworks.com">gary@savvysoftworks.com</a></h6>
        <div class="icon-block">
          <h4 class="center">
            <a href="https://www.linkedin.com/in/garyanewsome" target="_blank"><img src="images/linkedin.svg" alt="www.linkedin.com/in/scarronp" height="32" width="40"></a>
            <a target="_blank" href="https://twitter.com/garyanewsome" target="_blank"><img src="images/Twitter_Logo_White_On_Image.svg" alt="www.twitter.com/garyanewsome" height="32px" width="32px"></a>&nbsp;
            <a href="https://www.github.com/garyanewsome" target="_blank">
              <img src="images/github-icon-white.svg" alt="GitHub.com/garyanewsome" width="32px" height="32px">
            </a>
          </h4>
        </div>
        <div>
          <p class="light">
            A graduate of Westmoreland County Community College, Gary graduated with an Associates Degree in Computer Information Systems - Programming for the Enterprise. He graduated with a 4.0 GPA and as a member of the Phi Theta Kappa Honor's Society.<br><br>

      
            After interning at SavvySoftWorks, he was hired on to continue assisting and supporting Paul Scarrone with SavvySoftWorks internal and client work. As well as taking on web site development projects for the company.<br><br>

            Eager for knowledge and experience Gary is constantly learning and developing his crafts. Be it musical, artistic, development, or design he can always be found working and creating.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
