---
layout: av
---
<div class="av">
  <div class="row av--header">
    <div class="col s12 m6">
      <h1>
        <img src="/images/av/SavvyAudioVisual_Desktop.svg" alt="Savvy Audio Visual" class="responsive-img hide-on-med-and-down"/>
        <img src="/images/av/SavvyAudioVisual_Mobile.svg" alt="Savvy Audio Visual" class="responsive-img hide-on-large-only"/>
      </h1>
    </div>
    <div class="col s12 m6">
      <div class="motd hide-on-med-and-down">
        <h5 class="ah-headline">
          <div class="ah-words-wrapper">
            <% motds = data.motd.these_motd.dup %>
            <% motd = motds.slice!(0) %>
            <b class="motd--quote is-visible" style="background-color:<%= motd.color %>;"><%= motd.quote %></b>
            <% motds.each do |motd| %>
              <b class="motd--quote" style="background-color:<%= motd.color %>;"><%= motd.quote %></b>
            <% end %>
          </div>
        </h5>
      </div>
      <div class="av--about">
        <div class="row">
          <p>
            Paul, Sam, and Gary of SavvySoftWorks are all big proponents of learning and helping one another in the development world. Here they share conversations, interviews, and tutorials on vaious development topics.
          </p>
          <p>Paul Scarrone is the principle engineer at SavvySoftWorks. Words, words, words. Words, words, words. Words, words, words.</p>
          <p>Gary Newsome is a developer at SavvySoftWorks, words, words, words. Words, words, words. </p>
          <p>Sam Shurie is a developer at SavvySoftWork, words, words, words. Words, words, words. Words, words, words.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class=" av--box audiophiles">
        <!-- <img src="/images/SavvyAudiophiles.svg" alt="SavvyAudiophiles" /> -->
        <h5 class="">SavvyAudiophiles</h5>
        <div class="row valign-wrapper">
          <div class="col s12 m3">
            <img src="/images/av/paul2.jpg" alt="Paul Scarrone" class="responsive-img av--image" style="max-height:240px" />
          </div>
          <div class="col s12 m9">
        <h5 class="">How do I get started in programming?</h5>
        <h2 class="">
          <audio controls>
            <source src="/audio/SavvyAudiophiles_HowDoIGetStarted.ogg" type="audio/ogg">
            <source src="/audio/SavvyAudiophiles_HowDoIGetStarted.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
          </audio>
        </h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="av--box video">
        <h5 class="">Confessions of a Software Developer</h5>
        <div class="row valign-wrapper">
          <div class="col s12 m4">
            <a href="https://www.youtube.com/watch?v=haj4wQJAC1c" target="_blank">
              <img src="https://img.youtube.com/vi/haj4wQJAC1c/hqdefault.jpg" class="responsive-img av--image">
            </a>
          </div>
          <div class="col s12 m8">
            <h5 class="">Lets Code! with Phalcon CoreTeam member Nikolaos(niden)<br>FullCalendar.io and Google API (Part 3)</h5>
          </div>
        </div>
        <div class="row">
          <p class=""><a href="https://www.youtube.com/user/ninjapanzer/videos" target="_blank" style="color:#FFFFFF;">Click here to see more of Paul's videos.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

