<div class="container case_studies">
  <div class="row">
    <div class="col s12 m6">
      <div class="card cornerstone-card">
        <div class="card-content white-text">
          <span class="card-title">ReadyDayOne - Cornerstone MRS</span>
          <p>Created an expanded user interface for directors to view their users and their progress.</p>
          <img src="/images/case_studies/user_after.png" alt="cornerstone user view before" class="materialboxed responsive-img"">
        </div>
        <div class="card-action">
          <a href="./case_studies/readydayone.html">See the full study</a>
        </div>
      </div>
    </div>

    <div class="col s12 m6">
      <div class="card cornerstone-card">
        <div class="card-content white-text">
          <span class="card-title">ReadyDayOne - Cornerstone MRS</span>
          <p>Created a Library section for the housing of learning materials.</p>
          <img src="/images/case_studies/Library.png" alt="Cornerstone Library" class="materialboxed responsive-img"">
        </div>
        <div class="card-action">
          <a href="./case_studies/library.html">See the full study</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card engineersandinspectors-card">
        <div class="card-content">
          <span class="card-title">Engineers and Inspectors</span>
          <p>Remodeled and updated their business website</p>
          <img src="/images/case_studies/eanda.png" alt="Engineers and Inspectors" class="materialboxed responsive-img"">
        </div>
        <div class="card-action">
          <a href="./case_studies/engineersandinspectors.html">See the full study</a>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card savvyshots-card">
        <div class="card-content white-text">
          <span class="card-title">Savvy Shots Photography</span>
          <p>Big reaveal coming soon...</p>
          <img src="/images/case_studies/savvyshots.png" alt="Engineers and Inspectors" class="materialboxed responsive-img"">
        </div>
        <div class="card-action">
          <!-- <a href="./case_studies/engineersandinspectors.html">See the full study</a> -->
        </div>
      </div>
    </div>
</div>
