<div class="clients">

  <div class="full_clients main-colors">
    <div class="container" id="full_clients">
      <div class="row">
        <h3 class="client-heading">Full Client List</h3>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="client_name">
            <h5 class="center">
              <a href="http://lovebettie.com" target="_blank">Willow Hill Music
              <i class="material-icons">link</i></a>
            </h5>
          </div>
          <div class="client_desc faded-text">
            <p class="center">WillowHill and LoveBettie Websites</p>
            <p class="center"><em>March 2017</em></p>
          </div>
          <p>
            We rescued the LoveBettie site from the depths of a hacked state that had been blocked by Google as "unsafe." Still a work in progress, our first steps were to rescue the site and install a new landing page and calendar. Our second task was to begin the launch of a separate website for their new band, WillowHill.
          </p>
        </div>

         <div class="col s12 m6">
          <div class="client_name">
            <h5 class="center">
              <a href="https://www.openarc.net/" target="_blank">OpenArc / 4moms
              <i class="material-icons">link</i></a>
            </h5>
          </div>
          <div class="client_desc faded-text">
            <p class="center">Senior Developer</p>
            <p class="center"><em>November 2016</em></p>
          </div>
          <p>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="client_name">
            <h5 class="center" >
              <a href="https://leadwithcornerstone.com/" target="_blank">Cornerstone MRS
              <i class="material-icons">link</i></a>
            </h5>
          </div>
          <div class="client_desc faded-text">
            <p class="center">Ready Day One Software</p>
            <p class="center"><em>September 2015</em></p>
          </div>
          <p>
            Cornerstone Management Resource Systems has brought true science to the process of management selection and manager in training development for Fortune 500 pharmaceutical companies. Ready Day One is a platform of tools and analytics that helps companies closely track their employees progress and build a predictive model for their success in future promotions.
          </p>
        </div>

        <div class="col s12 m6">
          <div class="client_name">
            <h5 class="center">
              <a href="http://cemsites.com/" target="_blank">Cemsites
              <i class="material-icons">link</i></a>
            </h5>
          </div>
          <div class="client_desc faded-text">
            <p class="center">Senior Developer and Technical Lead</p>
            <p class="center"><em>June 2016 - May 2017</em></p>
          </div>
          <p>
            A complete solution for cemetery management from gravesite to accounting.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="client_name">
            <h5 class="center">
              <a href="http://engineersandinspectors.com/" target="_blank">Engineers and Inspectors
              <i class="material-icons">link</i></a>
            </h5>
          </div>
          <div class="client_desc faded-text">
            <p class="center">Engineers and Inspectors Website</p>
            <p class="center"><em>December 2016 - March 2017</em></p>
          </div>
          <p>
            We relocated their website to a new URL, while also handling a few content updates. We were then rehired to revamp the site top to bottom. we created a responsive mobile friendly website using Middleman and Materialize. as well as making content updates for the client.
          </p>
        </div>

        <div class="col s12 m6">
          <div class="client_name">
            <h5 class="center">
              <a href="https://wccc.edu/" target="_blank">Westmoreland County Community College
              <i class="material-icons">link</i></a>
            </h5>
          </div>
          <div class="client_desc faded-text">
            <p class="center">Paul Scarrone - Adjunct Professor of Computer Science</p>
            <p class="center"><em>December 2016 - March 2017</em></p>
          </div>
          <p>
            <p>
              Developed CS Curriculum for Workforce Development to introduce college level CS concepts to High School Students.
            </p>
            <h6>JAVA 1 CPT-163 Open Curriculum - <em>August 2015 - May 2016</em></h6>
            <p class="clients-bold">
              <a href="https://github.com/WCCCEDU/CPT-163-27-F2015-Course-Info" target="_blank">https://github.com/WCCCEDU/CPT-163-27-F2015-Course-Info</a>
            </p>
            <p>
              Open Curriculum and Resources used to teach the first semester of CPT-163 JAVA 1 as a one night a week in person class. I employed peer reviews and Github workflow on Github as well as introduced realtime chat for classroom support via Gitter. We touch on SOLID, DRY, and TDD during this introduction to JAVA.
            </p>
            <h6>Introduction to C++ CPT-180 Curriculum - <em>January 2016 - May 2016</em></h6>
            <p class="clients-bold">
              <a href="https://github.com/WCCCEDU/CPT-180-27-S2016-Course-Info" target="_blank">https://github.com/WCCCEDU/CPT-180-27-S2016-Course-Info</a>
            </p>
            <p>
              Open Curriculum and Resources used to teach the first semester of CPT-180 Intro to C++ as a one night a week in person class. I employed peer reviews and Github workflow on Github as well as introduced realtime chat for classroom support via Gitter. We spend most of our time discussing style and will strengthen our procedural programming skills by focusing on recursion, pointers, and algorithm design in C++.
            </p>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="client_name">
            <h5 class="center">
              <a href="http://www.gcchs.org/" target="_blank">Greensburg Central Catholic High School
              <i class="material-icons">link</i></a>
            </h5>
          </div>
          <div class="client_desc faded-text">
            <p class="center">Paul Scarrone - Computer Science Teacher (Part-Time)</p>
            <p class="center"><em>August 2015 – May 2016</em></p>
          </div>
          <p>
            Helped GCCHS start a world class computer science curriculum teaching software design and implementation with JavaScript and HTML Game Development.
          </p>
          <h6>Computer Science Through Game Development Curriculum</h6>
          <p>
            Using game development to engage students, educators can explore the full range of the problem -> solution -> implementation process that produces something students can physically take with them in their future pursuits. Using low impedance tools like web browsers, JavaScript, and HTML5 Canvas we solve complex visual and logical problems building a solid base of software development skills.
            </p>
        </div>

        <div class="col s12 m6">
          <div class="client_name icon-block">
            <h5 class="center">
               <a href="http://www.co.westmoreland.pa.us/2160/Advanced-Technology-Center" target="_blank">Additive Manufacturing
              <i class="material-icons">link</i></a>

            </h5>
          </div>
          <div class="client_desc faded-text">
            <p class="center">Curriculum Development</p>
            <p class="center"><em>January 2015 - June 2016</em></p>
          </div>
          <p>
            Through a partnership between 3D Systems and the Westmoreland ATC we produced a curriculum and lab materials to teach educators how to use complex desktop additive manufacturing and build their own curriculums to educate high school and vocational programs to prepare students for the high tech manufacturing jobs of the future. We also use the same course material to produce a credit course through WCCC that will help make the ATC an area of focus for additive manufacturing in the greater Pittsburgh Area.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
