<div id="savadoro" class="container savadoro">
  <div class="row center">
    <div class="col s12">
      <h3>
        <img src="/images/savadoro/Savadoro.svg" alt="Savadoro" class="responsive-img" style="max-width:320px;" />
      </h3>
      <h4 class="center">
        <img src="/images/savadoro/Icon.svg" class="responsive-img" style="max-height: 240px;" />
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <div class="release-announcement">
        <h5>Savadoro Beta 0.2.0 is out!</h5>
        <h6>August 7, 2017</h6>
        <div>Savadoro is a Pomodoro Technique timer currently in development by SavvySoftWorks.</div>
        <div>
          This release is in an early beta stage. It is free to try, and we would love to hear your feedback.
        </div>
        <div style="padding-top:1em">
          Download it on <a href="https://github.com/SavvySoftWorksLLC/savadoro_electron/releases" target="_blank">GitHub</a>
        </div>
        <div>
          <div>
            <h6 class="release-list">Release Notes:</h6>
          </div>
          <ul>
            <li>Savadoro timer.</li>
            <li>Ability to set custom timer durations</li>
            <li>Downloads available for: MacOS and Windows</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
