---
layout: westernpalaravel
---
<div class="container laravel">
  <div class="center">
    <h1>Western PA Laravel Users Group</h1>
  </div>
  <div class="center">
   <img src="/images/LaravelLogo.png" alt="Laravel Logo" height="320px">
  </div>
  <div class="center">
    <h3><a href="https://www.meetup.com/Western-Pa-Laravel-User-Group/" target="_blank">Find us on Meetup</a></h3>
  </div>
  <div class="center">
    <p>Sponsered by<br>
    <a href="/index.html">
      <img src="images/SavvySoftWorks_Logo.png" alt="SavvySoftWorks, LLC" height="32px">
    </a>
    </p>
  </div>
</div>